header {
  height: 5em;
  background-color: $primaryColor;
  @include flex-row;

  .title {
    color: aliceblue;
    flex-grow: 1;
  }
  .logo {
    background-color: bisque;
    width: 3em;
    flex-grow: 1;
  }
  .nav-wrapper {
    flex-grow: 1;
    border: brown 1px solid;
    .nav-item {
      padding: 1em 2em;
      text-decoration: none;
      color: white;
      border: springgreen 1px solid;
      height: 100%;
      &:hover {
      }
    }

    .nav-item-active {
    }
  }
}
